.monitoring {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 5%;

  .greets {
    height: 100px;
    font-weight: 400;
    font-size: 24px;

    .firstname {
      color: $sportsee-red;
    }
  }

  .data {
    display: grid;
    align-self: center;
    grid-template-areas:
      "act act  act   key"
      "avr perf score key";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 55% 40%;
    gap: 30px;
    width: 100%;
    max-width: 1440px;
    max-height: calc(100% - 100px);

    .average {
      border-radius: $display-radius;
      background-color: $sportsee-red;
      padding: 10px;
      padding-top: 0;
    }

    .activity {
      grid-area: act;
      background-color: $bgc-grey;
      border-radius: $display-radius;
      padding: 15px;
    }
    .performance {
      grid-area: perf;
      border-radius: $display-radius;
      background-color: $sportsee-dark-grey;
      padding: 7px;
    }
    .score {
      grid-area: score;
      background-color: $bgc-grey;
      border-radius: $display-radius;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    .KeyData {
      grid-area: key;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }
}
