$nav-bgc: #020203;
$navlink-color: #fff;
$navtop-shadow: #00000040;
$navtop-height: 91px;
$content-height: calc(100% - $navtop-height);
$sportsee-red: #ff0101;
$sportsee-red-dark: #cc0000;
$bgc-grey: #fbfbfb;
$display-radius: 5px;
